<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Add a new course</h1>
  <%= simple_form_for @course, :url => instructor_courses_path do |f| %>
  <div class="form-group">
    <%= f.input :title %>
  </div>
  <div class="form-group">
    <%= f.input :description %>
  </div>
    <%= f.input :cost %>
  <div class="form-group">
    <%= f.input :image, :id => 'exampleInputFile' %>
    <p class="help-block">Select an image for your course</p>
  </div>
    <br />
  <div class="actions">
    <%= f.submit "Create", :class => 'btn btn-primary' %>
    <br />
  </div>
  <% end %>
  <br />
</div>